<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PnP viewer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Head", required: false)
</head>
<body>
    @if (ViewBag.HideNavigationBar != true)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">PnP viewerr</div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @RenderSection("ToolbarButtons", required: false)
                    </ul>
                </div>
            </div>
        </div>
    }
    <div class="container body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
